@inherits LayoutComponentBase

<main>


    <!-- Flex -->
    <header>

        <!-- Nav Top Colored bars -->
        <div class="d-flex flex-row">
            <div class="col bar-height bg-warning"></div>
            <div class="col bar-height bg-success"></div>
            <div class="col bar-height bg-danger"></div>
            <div class="col bar-height bg-info"></div>
            <div class="col bar-height bg-primary"></div>
            <div class="col bar-height bg-cozy"></div>
        
            <div class="col bar-height bg-warning d-none d-md-block"></div>
            <div class="col bar-height bg-success d-none d-md-block"></div>
            <div class="col bar-height bg-danger d-none d-md-block"></div>
            <div class="col bar-height bg-info d-none d-md-block"></div>
            <div class="col bar-height bg-primary d-none d-md-block"></div>
            <div class="col bar-height bg-cozy d-none d-md-block"></div>
        </div>

        <!-- Navigation -->
        <nav class="d-flex flex-row max-width align-items-center justify-content-between p-3 mx-auto">
            <img src="images/logo-school.png" />
            <div class="d-none d-md-flex">Links</div>
            <div>

                <!-- Shopping -->
                <button class="btn btn-cozy shadow py-2 mr-2 position-relative" type="button">
                    <i class="fa fa-shopping-basket text-white "></i>
                    <span class="badge btn-badge bg-success rounded-100 text-white border border-white position-absolute">3</span>
                </button>

                <!-- Hamburger -->
                <button class="btn btn-info shadow d-md-none py-2" type="button">
                    <i class="fa fa-bars text-white"></i> 
                </button>

            </div>
        </nav>

        <!-- Nav Bottom Colored bars -->
        <div class="d-flex flex-row">
            <div class="col bar-height bg-warning"></div>
            <div class="col bar-height bg-success"></div>
            <div class="col bar-height bg-danger"></div>
            <div class="col bar-height bg-info"></div>
            <div class="col bar-height bg-primary"></div>
            <div class="col bar-height bg-cozy"></div>

            <div class="col bar-height bg-warning d-none d-md-block"></div>
            <div class="col bar-height bg-success d-none d-md-block"></div>
            <div class="col bar-height bg-danger d-none d-md-block"></div>
            <div class="col bar-height bg-info d-none d-md-block"></div>
            <div class="col bar-height bg-primary d-none d-md-block"></div>
            <div class="col bar-height bg-cozy d-none d-md-block"></div>
        </div>

        <div class="mx-3 d-block d-md-none">

            <a href="#" class="d-flex flex-row-reverse text-decoration-none align-items-center p-3 border-bottom">
                <i class="fa fa-home shadow text-white bg-info rounded-100 text-center nav-icon ml-2"></i>
                <span class="text-info">Home</span>
            </a>

            <a href="#" class="d-flex flex-row-reverse text-decoration-none align-items-center p-3 border-bottom"> 
                <i class="fa fa-store shadow text-white bg-cozy rounded-100 text-center nav-icon ml-2"></i>
                <span class="text-cozy">Store</span>
            </a>
            
            <a href="#" class="d-flex flex-row-reverse text-decoration-none align-items-center p-3 border-bottom">
                <i class="fa fa-user-graduate shadow text-white bg-success rounded-100 text-center nav-icon ml-2"></i>
                <span class="text-success">Courses</span>
            </a>

            <a href="#" class="d-flex flex-row-reverse text-decoration-none align-items-center p-3 border-bottom">
                <i class="fa fa-blog shadow text-white bg-warning rounded-100 text-center nav-icon ml-2"></i>
                <span class="text-warning">Blog</span>
            </a>

        </div>

    </header>

    <article>
        @Body
    </article>
   
</main>
